<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="tv" class="polymorphism.SamsungTV" />-->
<!--    init-method, destroy-method 테스트 -->
<!--    <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod" scope="singleton"/>-->
    <bean id="tv" class="polymorphism.SamsungTV" >
        <!-- constructor-arg 엘리먼트의 속성 설정, ref: 인자로 전달될 데이터가 다른 객체인 경우, value: 고정된 문자열이나 정수 같은 기본형 데이터인 경우 사용 -->
        <constructor-arg ref="sony"></constructor-arg>
        <constructor-arg value="2700000"></constructor-arg>
    </bean>

    <bean id="sony" class="polymorphism.SonySpeaker"></bean>

</beans>